### Install python packages

In [ ]:
!pip3 install pandas pyarrow

### Load nazaredb magic command

In [ ]:
%load_ext nazaredb

### Simple queries

In [ ]:
%%nazaredb
SELECT * FROM molding ORDER BY timestamp LIMIT 30;

In [ ]:
%%nazaredb
SELECT equip_name, count(*) FROM molding GROUP BY equip_name ORDER BY equip_name;

In [ ]:
%%nazaredb
SELECT equip_name, avg(mold_temperature_1), min(mold_temperature_1), max(mold_temperature_1) FROM molding GROUP BY equip_name ORDER BY equip_name;

In [ ]:
%%nazaredb
SELECT equip_name, timestamp, mold_temperature_1 - 70.0 FROM molding WHERE mold_temperature_1 > 70.0 ORDER BY timestamp;

In [ ]:
%%nazaredb
SELECT equip_name, timestamp, round(mold_temperature_1,1) FROM molding WHERE mold_temperature_1 BETWEEN 63.0 and 64.0 ORDER BY mold_temperature_1 DESC;